<nav class="navbar">
    <img class="navbar-logo" src="/assets/wheelchair.png">
    <input type="text" placeholder="Search" class="navbar-search" />
</nav>
<button class="navbar-burger" onclick="toggleMenu()"></button>
<nav class="menu">
    <a href="" style="animation-delay: 0.1s">
        Home
    </a>
</nav>

<script type="text/javascript">
    const toggleMenu = () => {
        document.body.classList.toggle("open");
    };
</script>